._polls-outlineButtonPolls {
    background-color: transparent;
    border: 1px solid #00b19d !important;
    color: #00b19d !important;
    width:100%;
    border-radius: 5px;
    margin-bottom: 0.3em;
}
._polls-outlineButtonPolls:hover {
    background-color: #00b19d;
    border: 1px solid #00b19d !important;
    color: white !important;
}  
